
nav ul {
  margin: 4em 0px;
  padding: 0;
  text-align: center;
  list-style: none;
 
}

nav ul li {
  display: inline-block;
  width: 200px;
  height: 3em;
  margin: 0px;
  padding: 0;
  text-align: center;
  line-height: 3em;
  font-weight: bold;
  background-color: #F99827;
  color:white;
}

nav ul li:hover {
   background-color: #E51539;

}